<div class="row">
  <div class="col-1">
  </div>
  <div class="shade rounder col-10">
    <div id="my-timeline" data-event="<%= @event_json %>">

    </div>

    <div class="center3">
      <h1>Events!</h1>
    </div>
    <%= link_to "Create New Event", new_event_path, class: 'links btn btn-outline-primary' %>
  </br></br></br>
  <div class="center3">
    <% @events.each do |event| %>
    <div>
      <div class="row">
        <div class="title col-10">
          <%= event.title%>
        </div>
        <div class="date">
          <%= event.date.strftime("%B %d, %Y")%>
        </div>
      </div>
      <div>
      <div class="float-right space">
        <% if current_user && current_user == event.user %>
        <%= link_to 'Edit', edit_event_path(event), class: 'links btn btn-outline-primary' %>
        <%= link_to 'Destroy', event_path(event), class: 'links btn btn-outline-danger', method: :delete, data: {confirm: 'Are you sure?'} %>

        <% end %>
      </div>
    </div>
      <%= image_tag event.picture.to_s, class: 'img-fluid' %>
      <h1 style="margin-top: 10px"><%= link_to "See Event Artifacts", event_path(event), class: 'links btn btn-outline-primary btn-lg float-left' %></h1><br />
      <br/>
    </div>
    <hr style="border: 1px solid gray;" />
    <% end %>
  </div>
</div>
</div>




<!-- <script type="text/javascript">
 const timelineElement=document.getElementById("my-timeline")

 const timelineData=JSON.parse{timelineElement.getAttribute("data-event")}


TimeKnots.draw("#my-timeline", timelineData, {dateDimension:false, dateFormat:"%Y-%m-%d",  color: "black", width:700, showLabels: true, labelFormat: "%Y/%m"});

</script> -->


