<div class="row">
  <div class="col-1">
  </div>
  <div class="shade col-10">
    <div class="center3">
      <h1>Events!</h1>
    </div>
    <%= link_to "Create New Event", new_event_path, class: 'links btn btn-outline-primary' %>
  </br>
</br>
</br>


<div>
  <% @events.each do |event| %>
  <div>
    <%= image_tag event.picture.to_s, class: 'img-fluid' %>
    <h1><%= link_to "See Event Artifacts", event_path(event), class: 'links' %></h1><br />

    <p>
      <%= event.title %>
      <%= event.date %>
    </p>

    <div>
      <% if current_user && current_user == event.user %>
      <%= link_to 'Edit', edit_event_path(event), class: 'links btn btn-outline-primary' %>
      <%= link_to 'Destroy', event_path(event), class: 'links btn btn-outline-danger', method: :delete, data: {confirm: 'Are you sure?'} %>

      <% end %>
    </div>
    <br/>
  </div>
  <% end %>
</div>
</div>
</div>
