<div class="row">
  <div class="col-3">

  </div>
  <div class="shade col-5 rounder">
    <h1>New Event</h1>

    <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.input :picture %>
    <%= f.submit "Create" %>
    <% end %>
  </div>
</div>