  <%= @event.title %>
  <%= @event.date %>
  <%= @event.picture.to_s %>

  <%= simple_form_for @artifact, url: event_artifacts_path(@event) do |f| %>
  <%= f.input :comment %>
  <%= f.submit "Add an Artifact" %>
  <% end %>

  <h1>Comments</h1>

  <% @event.artifacts.each do |artifact| %>
  <div>
    <blockquote>
      <%= artifact.comment %>
      <small><%= artifact.user.email %></small>
      <div>
        <% if current_user && current_user == @event.user %>
        <%= link_to 'Edit', edit_event_artifact_path(@event) %>
        <%= link_to 'Destroy', event_artifact_path(@event), method: :delete, data: {confirm: 'Are you sure?'} %>

        <% end %>
      </div>
    </blockquote>
    <% end %>
  </div>