<!DOCTYPE html>
<html>
<head>
  <title>Mylegacy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


  <div>
    <div>
      <ul class="nav">
        <li class="home">
         MY LEGACY
       </li>

       <% if current_user %>
       <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'links'%>
      </li>
      <% else %>
      <li>
        <%= link_to "Sign In", new_user_session_path, class: 'links'%>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path, class: 'links'%>
      </li>
      <% end %>

    </ul>
  </div>
  <br/>
</div>

<%= yield %>
</body>
</html>
